<h1>Confirmer votre e-mail !</h1>

<p>Hello {{ user.name }},</p>

<p>S'il vous plaît, veuillez confirmer votre adresse e-mail en entrant le code ci-dessous :</p>

<p><strong>Code de confirmation: {{ confirmation_code }}</strong></p>

<p>Si vous n'êtez pas à l'origine de cette requete, veuillez ignorer ce mail s'il vous plaît</p>

<p>
    Merci !
</p>