{% extends 'base.html.twig' %}

{% block title %}New Paiement{% endblock %}

{% block body %}
{% include 'components/navbar.html.twig' %}

<div class="flex mt-4 ml-2 items-start">
    {% include 'components/sidebar.html.twig' %}

    <div class="flex-1 text-white p-4 content bg-white p-2 ml-4 mr-4 overflow-x-auto dark:bg-gray-800 content bg-white p-4 rounded-lg shadow">
        <h1 class="text-blue-color font-nunito text-lg font-bold mb-2 dark:text-white">Enregistrer un paiement</h1>

        <div>
            <div class="mt-8">
                {{ include('paiement/_form.html.twig') }}
            </div>
        </div>

        <a href="{{ path('app_paiement_index') }}" class="text-blue-color dark:text-white">
            <i class="fas fa-arrow-left"></i> Retour
        </a>
    </div>
</div>
{% endblock %}
