<form method="post" action="{{ path('app_client_delete', {'id': client.id}) }}" onsubmit="return confirm('Est-tu sûr de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button type="submit" class="px-4 py-2 bg-red-500 hover:bg-red-900 text-white font-semibold rounded-md shadow-md ml-10">Supprimer</button>
</form>