{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    <div class="flex flex-wrap mt-4">
        {% include 'components/sidebar.html.twig' %}

        <div class="flex-grow p-4 bg-white dark:bg-gray-800 rounded-lg shadow ml-4 mr-4">
            <h1 class="mb-4 text-lg font-bold font-nunito text-blue-color dark:text-white">Créer un nouveau client</h1>
            <p class="mt-1 text-sm font-nunito text-blue-color text-gray-600 dark:text-gray-400">Informations du client</p>

            <div>
                {{ include('client/_form.html.twig') }}
            </div>

            <a href="{{ path('app_client_index') }}" class="mt-4 text-blue-color hover:text-blue-600 dark:hover:text-blue-400 dark:text-white">
                <i class="fas fa-arrow-left"></i> Retour
            </a>
        </div>
    </div>
{% endblock %}
