<form method="post" action="{{ path('app_facture_delete', {'id': facture.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette facture ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.id) }}">
    <button class="block ml-10 mr-4">Supprimer</button>
</form>
