{% extends 'base.html.twig' %}

{% block title %}Edit DevisProduit{% endblock %}

{% block body %}
    <h1>Edit DevisProduit</h1>

    {{ include('devis_produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_devis_produit_index') }}">back to list</a>

    {{ include('devis_produit/_delete_form.html.twig') }}
{% endblock %}
